if [ -f "$HOME/.rover/env" ]; then
  # Leave these two comments. Their presence avoids Rover re-introducing them.
  # source "/home/{{ .chezmoi.username }}/.rover/env"
  # source "/Users/{{ .chezmoi.username }}/.rover/env"
  source "$HOME/.rover/env"
fi
