#!/bin/sh

set -e

if [ ! "$(command -v gawk)" ]; then
  {{ if eq .chezmoi.os "linux" -}}
  sudo apt update
  sudo apt install gawk -y
  {{ else if eq .chezmoi.os "darwin" -}}
  brew install gawk
  {{ end -}}
else
  echo "gawk is already installed"
fi

if [ ! "$(command -v gpg)" ]; then
  {{ if eq .chezmoi.os "linux" -}}
  sudo apt install gpg -y
  {{ else if eq .chezmoi.os "darwin" -}}
  brew install gpg
  {{ end -}}
else
  echo "gpg is already installed"
fi

{{ if eq .chezmoi.os "linux" -}}
  if [ ! "$(command -v dirmngr)" ]; then
    sudo apt install dirmngr -y
  else
    echo "dirmngr is already installed"
  fi
{{ end -}}

if [ ! -d "$HOME/.asdf" ]; then
  git clone https://www.github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2
else
  echo "asdf is already installed"
fi

if ! ~/.asdf/bin/asdf list | grep -qE '^nodejs$'; then
  ~/.asdf/bin/asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
else
  echo "asdf plugin nodejs is already added"
fi

if ! ~/.asdf/bin/asdf list | grep -qE '^rust'; then
  ~/.asdf/bin/asdf plugin-add rust https://github.com/code-lever/asdf-rust.git
else
  echo "asdf plugin rust is already added"
fi

~/.asdf/bin/asdf install
