#extra-socket $HOME/.gnupg/S.gpg-agent.extra
{{ if eq .chezmoi.os "darwin" -}}
pinentry-program /usr/local/bin/pinentry-mac
{{- end }}
#enable-ssh-support
default-cache-ttl 600
max-cache-ttl 7200
debug-level expert
log-file .gnupg/gpg-agent.log
